* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none; /* スマホ拡大防止 */
}

body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
